---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


$primary-color: #8d8741;
$secondary-color: #659DBD;
$tertiary-color: #DAAD86;
$quaternary-color: #BC986a;
$quinary-color: #2a2a2a;

@import "header";
@import "projects";
