header {
    h1{
        margin-bottom: 0 !important;
    }
    ul{
        margin-bottom: 0 !important;
    }
    &.sticky-nav-header {
        position: sticky;
        top: 0px;
        z-index: 10;
        background: $primary-color;
    }

    .nav-wrapper {
        margin: auto;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .container {
        vertical-align: middle;
    }

    .nav-h1 {
        text-decoration: none;
        
    }

    .site-logo>img {
        height: 65px;
    }

    .custom-site-title,
    .custom-site-title:visited {
        color: black;
        text-decoration: none;
    }

    .social-nav-icons {
        li {
            display: inline;
            list-style: none;
            margin-left: 25px;
        }

        img {
            height: 40px;
            width: 40px;
        }

        button {
            border-radius: 10%;
            border: none;
            width: 80px;
            height: 40px;
            cursor: pointer;
        }
    }

    @media (max-width: 960px) {
        .nav-wrapper {
            width: 90%;
        }
    }

    @media (max-width: 768px) {
        .hidden-mobile {
            visibility: hidden;
            display: none !important;
            clear: both;
        }

        .social-nav-icons {
            margin-top: 29px;

            li {
                margin-left: 25px;
            }
        }
    }

    @media (max-width: 549px) {
        &.sticky-nav-header {
            height: 80px;
        }

        ul {
            margin-left: 0;
        }

        .site-logo>img {
            height: 58px;
        }

        .nav-h1 {
            font-size: 23px;
        }

        .nav-bottom-h1 {
            font-size: 44px;
            padding-top: 0;
            line-height: 25px;
        }

        .social-nav-icons {
            margin-top: 29px;

            li {
                margin-left: 15px;
            }

            img {
                width: 32px;
                height: 32px;
            }
        }
    }

    @media (max-width: 375px) {
        &.sticky-nav-header {
            height: 60px;
        }

        .site-logo>img {
            height: 40px;
        }

        .nav-h1 {
            font-size: 17px;
        }

        .nav-bottom-h1 {
            font-size: 33px;
            line-height: 19px;
        }

        .social-nav-icons {
            margin-top: 18px;

            li {
                margin-left: 10px;
            }

            img {
                height: 24px;
                width: 24px;
            }
        }
    }
}