.projects{
    width: 85%;
    margin: auto;
}

a{
    text-decoration: none;
}

h3{
    font-size: 35px;
}
h4{
    font-size: 22px;
    text-decoration: underline;
}
.content{
    p{
        margin-left: 15px;
        font-size: 20px;
    }
}

.repo{
    width: 30px;
}